<div class="dews-container-option-control">
  ${this.title == undefined?null :html`<h3 class="option-sub-title">${this.title}</h3>`}
  ${(this._iconList.length == 0 ? null : html`
  <div class="option-convenience-button">
    <ul>
      ${this._iconList}
    </ul>
  </div>
  `)}
</div>

<div class="dews-search-field">
  <ul class="form-field">
    ${this._contentList}
  </ul>
</div>

<div class="layer-drawer right ">
  <div class="overlay"></div>
  <div class="layer layer-right large">



    <div class="layer-content">

      <div class="layer-header">
        <div class="titlebar">
          <div class="title">Data Set</div>
        </div>
        <button class="close-button"></button>
      </div>


      <div class="option-dataset">
        <div class="control">

          <div class="total-control">
            <div class="dataset-total">
              <span>총 <strong>2</strong>건</span>
            </div>

            <div class="dataset-total-delete">
              <button class="dews-button solid text small">
                <span class="button-icon"></span>
                <span class="button-text">전체삭제</span>
              </button>
            </div>
          </div>

          <div class="dataset-list">

            <div class="dataset">
              <div class="header">
                <span class="date">2020-09-03 10:46:57</span>
                <button class="apply-button">적용</button>
                <button class="delete-button">
                  <span>삭제</span>
                </button>
              </div>
              <div class="field">
                <button class="active">(주)미래개발에이엘시</button>
                <button>김더존</button>
                <button>진행중</button>
                <button>생산제품A</button>
                <button>생산제품B</button>
                <button>생산제품B(한줄길어지 말줄임 처리를 합니다.)</button>
                <button disabled>3,000 이상</button>
              </div>
            </div>

            <div class="dataset">
              <div class="header">
                <span class="date">2020-09-03 10:46:57</span>
                <button class="apply-button">적용</button>
                <button class="delete-button">
                  <span>삭제</span>
                </button>
              </div>
              <div class="field">
                <button>(주)미래개발에이엘시</button>
                <button>김더존</button>
                <button>진행중</button>
                <button>생산제품A</button>
                <button>생산제품B</button>
                <button>생산제품B(한줄길어지 말줄임 처리를 합니다.)</button>
                <button disabled>3,000 이상</button>
              </div>
            </div>

            <div class="dataset">
              <div class="header">
                <span class="date">2020-09-03 10:46:57</span>
                <button class="apply-button">적용</button>
                <button class="delete-button">
                  <span>삭제</span>
                </button>
              </div>
              <div class="field">
                <button>(주)미래개발에이엘시</button>
                <button>김더존</button>
                <button>진행중</button>
                <button>생산제품A</button>
                <button>생산제품B</button>
                <button>생산제품B(한줄길어지 말줄임 처리를 합니다.)</button>
                <button disabled>3,000 이상</button>
              </div>
            </div>

            <div class="dataset">
              <div class="header">
                <span class="date">2020-09-03 10:46:57</span>
                <button class="apply-button">적용</button>
                <button class="delete-button">
                  <span>삭제</span>
                </button>
              </div>
              <div class="field">
                <button>(주)미래개발에이엘시</button>
                <button>김더존</button>
                <button>진행중</button>
                <button>생산제품A</button>
                <button>생산제품B</button>
                <button>생산제품B(한줄길어지 말줄임 처리를 합니다.)</button>
                <button disabled>3,000 이상</button>
              </div>
            </div>

            <div class="dataset">
              <div class="header">
                <span class="date">2020-09-03 10:46:57</span>
                <button class="apply-button">적용</button>
                <button class="delete-button">
                  <span>삭제</span>
                </button>
              </div>
              <div class="field">
                <button>(주)미래개발에이엘시</button>
                <button>김더존</button>
                <button>진행중</button>
                <button>생산제품A</button>
                <button>생산제품B</button>
                <button>생산제품B(한줄길어지 말줄임 처리를 합니다.)</button>
                <button disabled>3,000 이상</button>
              </div>
            </div>

            <div class="dataset">
              <div class="header">
                <span class="date">2020-09-03 10:46:57</span>
                <button class="apply-button">적용</button>
                <button class="delete-button">
                  <span>삭제</span>
                </button>
              </div>
              <div class="field">
                <button>(주)미래개발에이엘시</button>
                <button>김더존</button>
                <button>진행중</button>
                <button>생산제품A</button>
                <button>생산제품B</button>
                <button>생산제품B(한줄길어지 말줄임 처리를 합니다.)</button>
                <button disabled>3,000 이상</button>
              </div>
            </div>

            <div class="dataset">
              <div class="header">
                <span class="date">2020-09-03 10:46:57</span>
                <button class="apply-button">적용</button>
                <button class="delete-button">
                  <span>삭제</span>
                </button>
              </div>
              <div class="field">
                <button>(주)미래개발에이엘시</button>
                <button>김더존</button>
                <button>진행중</button>
                <button>생산제품A</button>
                <button>생산제품B</button>
                <button>생산제품B(한줄길어지 말줄임 처리를 합니다.)</button>
                <button disabled>3,000 이상</button>
              </div>
            </div>

            <div class="dataset">
              <div class="header">
                <span class="date">2020-09-03 10:46:57</span>
                <button class="apply-button">적용</button>
                <button class="delete-button">
                  <span>삭제</span>
                </button>
              </div>
              <div class="field">
                <button>(주)미래개발에이엘시</button>
                <button>김더존</button>
                <button>진행중</button>
                <button>생산제품A</button>
                <button>생산제품B</button>
                <button>생산제품B(한줄길어지 말줄임 처리를 합니다.)</button>
                <button disabled>3,000 이상</button>
              </div>
            </div>
            <div class="dataset">
              <div class="header">
                <span class="date">2020-09-03 10:46:57</span>
                <button class="apply-button">적용</button>
                <button class="delete-button">
                  <span>삭제</span>
                </button>
              </div>
              <div class="field">
                <button>(주)미래개발에이엘시</button>
                <button>김더존</button>
                <button>진행중</button>
                <button>생산제품A</button>
                <button>생산제품B</button>
                <button>생산제품B(한줄길어지 말줄임 처리를 합니다.)</button>
                <button disabled>3,000 이상</button>
              </div>
            </div>
            <div class="dataset">
              <div class="header">
                <span class="date">2020-09-03 10:46:57</span>
                <button class="apply-button">적용</button>
                <button class="delete-button">
                  <span>삭제</span>
                </button>
              </div>
              <div class="field">
                <button>(주)미래개발에이엘시</button>
                <button>김더존</button>
                <button>진행중</button>
                <button>생산제품A</button>
                <button>생산제품B</button>
                <button>생산제품B(한줄길어지 말줄임 처리를 합니다.)</button>
                <button disabled>3,000 이상</button>
              </div>
            </div>

          </div>


        </div>
      </div>

    </div>
  </div>
</div>
