<div class="dews-container-option-control">
  ${this.title == undefined?null :html`<h3 class="option-sub-title">${this.title}</h3>`}
  <slot name="button"></slot>
</div>

<div class="dews-search-field">
  <slot name="content"></slot>
</div>
<slot @slotchange="${this._slotChange}"></slot>

<drawer-layout class="drawer-layout" title="data-set" right="true" @close="${this._close}" ?active="${this.active}">
  <div class="drawer-dataSet">
    <div class="option-dataset">
      <div class="control">
        <div class="total-control">
            ${this._dataSetHeader}
        </div>

        <div class="dataset-list">

          <div class="dataset">
            <div class="header">
              <span class="date">2020-09-03 10:46:57</span>
              <button class="apply-button">적용</button>
              <button class="delete-button">
                <span>삭제</span>
              </button>
            </div>
            <div class="field">
              <span class="nodata">데이터가 없습니다.</span>
            </div>
          </div>

          ${this._dataSetList}
        </div>

        <!--  nodata  -->
        <div class="dataset-nodata">
          <span>저장된 데이터 Set 내역이 없습니다.</span>
        </div>

      </div>
    </div>
  </div>
</drawer-layout>

<!-- snackbar -->
<div class="dews-snackbar dataset">
  <div class="snackbar-img"></div>
  <div class="snackbar-text">
    현재 입력된 내용이 데이터 Set에 저장
  </div>
</div>

