<div class="period-picker-wrap focus" id="drawer" @click="${this._clickHandler}">
  <label for="">${this.title}</label>
  <span class="select-wrap">
      <span class="select-shape">
          <span class="select-input">
              ${this.inputValue}
          </span>
      </span>
      <span class="select-icon period-picker-icon"></span>
  </span>
</div>

<drawer-layout class="drawer-layout" @close="${this._close}" ?active="${this.active}">
  <div class="drawer-period-picker">
    <div class="titlebar">
      <div class="title">${this.title}</div>
      <button class="confirm-button" @click="${this._confirmClickHandler}">적용</button>
      ${this.$nextBtn}
    </div>

    <div class="control">

      <div class="layer-period-picker-input-wrap">
          <span class="layer-picker-input">
            <span class="picker-input">
               <input class="input" type="text" inputmode="numeric" pattern="[0-9]*" @click="${this._inputClickHandler}"
                      value="${this._value}" @beforeinput="${this._beforeInputHandler}" @input="${this._inputHandler}"/>
            </span>
          </span>
        <button class="clear-button" @click="${this._removeClickHandler}">
          <span>초기화</span>
        </button>
      </div>

      <div class="layer-calendar-wrap">
        <div class="calender-header">
          <!-- option 클릭 시 .selected 추가 -->
          <button class="option-button calendar-button " @click="${this._optionClickHandler}"><span>option</span>
          </button>
          <div class="header">


            ${(this.mode==='option' ?'' :html`
            <button class="prev calendar-button" @click="${this._beforeClickHandler}"><span>이전</span></button>
            <button class="fast calendar-button" @click="${this._modeClickHandler}"><span>${this._modeView}</span></button>
            <button class="next calendar-button" @click="${this._afterClickHandler}"><span>다음</span></button>
            `)}


          </div>
        </div>

        <!--   달력     -->
        ${this.mode !== 'option'?html`
        <div class="calendar-content">
          <div class="calendar-flip-wrap" @touchstart="${this._touchStartHandler}" @touchend="${this._touchEndHandler}"
               @touchmove="${this._touchMoveHandler}">
            ${this._beforeView}
            ${this._nowView}
            ${this._afterView}
          </div>
        </div>
        `:html`
        <div class="calendar-content">
          <div class="calendar-period-wrap month-period-wrap">

            <div class="period-quarter period">
              <ul>
                <li @click="${this._optionBtnClickHandler}" data-index="0">
                  <button><span>1/4분기</span></button>
                </li>
                <li @click="${this._optionBtnClickHandler}" data-index="1">
                  <button><span>2/4분기</span></button>
                </li>
                <li @click="${this._optionBtnClickHandler}" data-index="2">
                  <button><span>3/4분기</span></button>
                </li>
                <li @click="${this._optionBtnClickHandler}" data-index="3">
                  <button><span>4/4분기</span></button>
                </li>
              </ul>
            </div>
            <div class="period-half period">
              <ul>
                <li @click="${this._optionBtnClickHandler}" data-index="4">
                  <button><span>상반기</span></button>
                </li>
                <li @click="${this._optionBtnClickHandler}" data-index="5">
                  <button><span>하반기</span></button>
                </li>
                <li @click="${this._optionBtnClickHandler}" data-index="6">
                  <button><span>올해</span></button>
                </li>
              </ul>
            </div>
            <div class="period-month period">
              <ul>
                <li @click="${this._optionMonthClickHandler}" data-value="1">
                  <button><span>1월</span></button>
                </li>
                <li @click="${this._optionMonthClickHandler}" data-value="2">
                  <button><span>2월</span></button>
                </li>
                <li @click="${this._optionMonthClickHandler}" data-value="3">
                  <button><span>3월</span></button>
                </li>
                <li @click="${this._optionMonthClickHandler}" data-value="4">
                  <button><span>4월</span></button>
                </li>
                <li @click="${this._optionMonthClickHandler}" data-value="5">
                  <button><span>5월</span></button>
                </li>
                <li @click="${this._optionMonthClickHandler}" data-value="6">
                  <button><span>6월</span></button>
                </li>
                <li @click="${this._optionMonthClickHandler}" data-value="7">
                  <button><span>7월</span></button>
                </li>
                <li @click="${this._optionMonthClickHandler}" data-value="8">
                  <button><span>8월</span></button>
                </li>
                <li @click="${this._optionMonthClickHandler}" data-value="9">
                  <button><span>9월</span></button>
                </li>
                <li @click="${this._optionMonthClickHandler}" data-value="10">
                  <button><span>10월</span></button>
                </li>
                <li @click="${this._optionMonthClickHandler}" data-value="11">
                  <button><span>11월</span></button>
                </li>
                <li @click="${this._optionMonthClickHandler}" data-value="12">
                  <button><span>12월</span></button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        `}

      </div>
    </div>
  </div>
</drawer-layout>
