
<div class="dropdown-list-wrap" @click="${this._clickHandler}">
  <label for="">${this.title}</label>
  <span class="select-wrap">
    <span class="select-shape">
      <span class="select-input">
          ${this.select[0]}
      </span>
      ${(this.select.length >= 2 && this.multi)
      ?html`
            <span class="select-multi">
                외 <strong>${this.select.length-1}</strong>건
            </span>`
      : ''}
    </span>
    <span class="select-icon dropdown-icon"></span>
  </span>
</div>


${this.multi?html`
<drower-layout @close="${this._close}" ?active="${this.active}">
  <div class="drawer-dropdown-multi">
    <div class="titlebar">
      <div class="title">${this.title}</div>
      <!-- <button class="confirm-button">ได้รับการยืนยัน</button> -->
      <button class="confirm-button" @click="${this._confirmClickHandler}">적용</button>
      ${this.$nextBtn}
    </div>
    <div class="control" @touchstart="${this._touchStart}" @touchmove="${this._touchMove}">
      <ul class="list">
        <li  @click="${this._allChecked}">
          <span class="text">전체선택</span>
          <span class="checkbox" data-value="allCheck">
                  <dews-checkbox></dews-checkbox>
                </span>
        </li>
        ${this.$itemList}
<!--        <li>-->
<!--          <span class="text">DATA 01</span>-->
<!--          <span class="checkbox">-->
<!--            <dews-checkbox></dews-checkbox>-->
<!--&lt;!&ndash;              <input type="checkbox" checked="checked">&ndash;&gt;-->
<!--          </span>-->
        </li>
      </ul>
    </div>
  </div>
</drower-layout>
` :html`
<drower-layout @close="${this._close}"  ?active="${this.active}">
  <div class="drawer-dropdown-single">
    <div class="titlebar">
      <div class="title">${this.title}</div>
      <!-- <button class="confirm-button">ได้รับการยืนยัน</button> -->
<!--      <button class="confirm-button" @click="${this._confirm}">적용</button>-->
<!--      <button class="next-icon-button"><span>다음</span></button>-->
    </div>
    <div class="control" @touchstart="${this._touchStart}" @touchmove="${this._touchMove}">
      <ul class="list">
        ${this.$itemList}
      </ul>
    </div>
  </div>
</drower-layout>
` }






<!--<drower-layout @close="${this._close}" ?active="${this.active}">-->
<!--  <div class="drawer-dropdown-multi">-->
<!--    <div class="titlebar">-->
<!--      <div class="title">layer-drawer sample layer-drawer sample</div>-->
<!--      &lt;!&ndash; <button class="confirm-button">ได้รับการยืนยัน</button> &ndash;&gt;-->
<!--      <button class="confirm-button" @click="${this._confirm}">적용</button>-->
<!--      <button class="next-icon-button"><span>다음</span></button>-->
<!--    </div>-->
<!--    <div class="control" @touchstart="${this._touchStart}" @touchmove="${this._touchMove}">-->
<!--      <ul class="list">-->
<!--        <li>-->
<!--          <span class="text">DATA 01</span>-->
<!--          <span class="checkbox">-->
<!--              <input type="checkbox" checked="checked">-->
<!--          </span>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</drower-layout>-->





<!--<drower-layout @close="${this._close}" ?active="${this.active}">-->
<!--  <div class="drawer-dropdown-single" style="display: none;">-->
<!--    <div class="titlebar">-->
<!--      <div class="title">layer-drawer sample layer-drawer sample</div>-->
<!--      &lt;!&ndash; <button class="confirm-button">ได้รับการยืนยัน</button> &ndash;&gt;-->
<!--      <button class="confirm-button" @click="${this._confirm}">적용</button>-->
<!--      <button class="next-icon-button"><span>다음</span></button>-->
<!--    </div>-->
<!--    <div class="control">-->
<!--      <ul class="list">-->
<!--        <li>-->
<!--          <span>DATA 01</span>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</drower-layout>-->





<!--<div class="dropdown-list-wrap" @click="${this._clickHandler}">-->
<!--  <label for="">항목명</label>-->
<!--  <span class="select-wrap">-->
<!--      <span class="select-input">-->
<!--          더존비즈온 ERP 사업부문 미래기술연구소-->
<!--      </span>-->
<!--      <span class="select-multi">-->
<!--          외 <strong>1</strong>건-->
<!--      </span>-->
<!--      <span class="select-icon dropdown-icon"></span>-->
<!--  </span>-->
<!--</div>-->

<!--<div class="dropdown-list-wrap" @click="${this._clickHandler}">-->
<!--  <label for="">항목명</label>-->
<!--  <span class="select-wrap focus">-->
<!--      <span class="select-input">-->
<!--          더존비즈온 ERP 사업부문 미래기술연구소-->
<!--      </span>-->
<!--    ${this.multi?html``:html``}-->
<!--      <span class="select-multi">-->
<!--          외 <strong>1</strong>건-->
<!--      </span>-->
<!--      <span class="select-icon dropdown-icon"></span>-->
<!--  </span>-->
<!--</div>-->


<!--<div class="dropdown-list-wrap" @click="${this._clickHandler}">-->
<!--  <label for="">항목명</label>-->
<!--  <span class="select-wrap disabled">-->
<!--      <span class="select-input">-->
<!--          더존비즈온 ERP 사업부문 미래기술연구소-->
<!--      </span>-->

<!--      <span class="select-multi">-->
<!--          외 <strong>1</strong>건-->
<!--      </span>-->
<!--      <span class="select-icon dropdown-icon"></span>-->
<!--  </span>-->
<!--</div>-->

<!--<div class="dropdown-list-wrap" @click="${this._clickHandler}">-->
<!--  <label for="">항목명</label>-->
<!--  <span class="select-wrap readonly">-->
<!--      <span class="select-input ">-->
<!--          더존비즈온 ERP 사업부문 미래기술연구소-->
<!--      </span>-->
<!--      <span class="select-multi">-->
<!--          외 <strong>1</strong>건-->
<!--      </span>-->
<!--      <span class="select-icon dropdown-icon"></span>-->
<!--  </span>-->
<!--</div>-->


<!--<div class="drowerlayout-drawer active">-->
<!--  <div class="overlay"></div>-->
<!--  <div class="drowerlayout drowerlayout-bottom">-->
<!--    <div class="drowerlayout-moving-button">-->
<!--      <span class="moving-button"></span>-->
<!--    </div>-->
<!--    <div class="drowerlayout-titlebar">-->
<!--      <div class="title">drowerlayout-drawer sample drowerlayout-drawer sample</div>-->
<!--      &lt;!&ndash; <button class="confirm-button">ได้รับการยืนยัน</button> &ndash;&gt;-->
<!--      <button class="confirm-button">확인</button>-->
<!--      <button class="next-icon-button"><span>다음</span></button>-->
<!--    </div>-->
<!--    <div class="drowerlayout-content">-->
<!--      <div class="drowerlayout-content-space">-->
<!--        <div style="font-size: 13px;">-->
<!--          실제 레이어 내용 들어가는 곳. overflow-scroll 일어남<br><br><br><br><br><br>-->
<!--          다이얼로그란 모달 또는 모달이 아닌 형태로 HTML을 띄우는 컴포넌트입니다.<br>-->
<!--          모달 다이얼로그란 열었을 때 다이얼로그 화면 외의 뒷 페이지영역을 비활성화하는<br>-->
<!--          다이얼로그로 다이얼로그 화면을 닫기 전에는 다이얼로그 뒷 페이지 영역은 컨트롤이 불가능합니다.<br><br>-->
<!--          타이틀 부분을 드래그 시 다이얼로그의 이동이 가능합니다.<br><br><br>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--<div style="height: 300px; background-color: #7f7f7f; position: relative;" @mousemove="${this._mouseMove}" @mouseup="${this._mouseUp}">-->
<!--  <div style="border:1px solid; width: 100%; position: absolute; bottom: 30px;">-->
<!--    <div style="height: 10px; background-color: #fff4c2"  @mousedown="${this._mouseDown}">-->
<!--    </div>-->
<!--    <div id="content" style="height: 200px; background-color: #E8E8E8" >-->
<!--    </div>-->
<!--  </div>-->
<!--  <div style="height: 30px; width: 100%; background-color: #880000;position: absolute; bottom: 0;">-->
<!--    <button @click="${this._clickHandler}" >ab</button>-->
<!--  </div>-->
<!--</div>-->





