<div class="dropdownlist-wrap" id="drawer" @click="${this._clickHandler}">
  <label for="">${this.title}</label>
  <span class="select-wrap" tabindex="1">
    <span class="select-shape">
      <span class="select-input">
          ${this.select[0]}
      </span>
      ${(this.select.length >= 2 && this.multi)
      ?html`
            <span class="select-multi">
                외 <strong>${this.select.length-1}</strong>건
            </span>`
      : ''}
    </span>
    <span class="select-icon dropdownlist-icon"></span>
  </span>
</div>

${this.multi?html`
<drawer-layout class="drawer-layout" @close="${this._close}" ?active="${this.active}" scrollEnabled tabindex="-1">
  <div class="drawer-dropdownlist-multi">
    <div class="titlebar">
      <div class="title">${this.title}</div>
      <!-- <button class="confirm-button">ได้รับการยืนยัน</button> -->
      <button class="confirm-button will-touch" @click="${this._confirmClickHandler}">적용</button>
      ${this.$nextBtn}
    </div>
    <div class="control">
      <ul class="list">
        <li  @click="${this._allChecked}">
          <span class="text">전체선택</span>
          <span class="checkbox" data-value="allCheck">
                  <dews-checkbox ?checked="${this._allCheckState}"></dews-checkbox>
                </span>
        </li>
        <slot @slotchange="${this._slotChange}"></slot>
        <!--  ${this.$itemList}-->
      </ul>
    </div>
  </div>
</drawer-layout>
` :html`
<drawer-layout class="drawer-layout" @close="${this._close}" ?dimming="${this.dimming}" ?active="${this.active}" scrollEnabled tabindex="-1">
  <div class="drawer-dropdownlist-single">
    <div class="titlebar">
      <div class="title">${this.title}</div>
    </div>
    <div class="control" >
      <ul class="list">
        <slot @slotchange="${this._slotChange}"></slot>
<!--        ${this.$itemList}-->
      </ul>
    </div>
  </div>
</drawer-layout>
` }





