<div class="dropdown-list-wrap" @click="${this._clickHandler}">
  <label for="">${this.title}</label>
  <span class="select-wrap">
    <span class="select-shape">
      <span class="select-input">
          ${this.select[0]}
      </span>
      ${(this.select.length >= 2 && this.multi)
      ?html`
            <span class="select-multi">
                외 <strong>${this.select.length-1}</strong>건
            </span>`
      : ''}
    </span>
    <span class="select-icon dropdown-icon"></span>
  </span>
</div>

${this.multi?html`
<drawer-layout class="drawer-layout" @close="${this._close}" ?active="${this.active}" scrollEnabled>
  <div class="drawer-dropdown-multi">
    <div class="titlebar">
      <div class="title">${this.title}</div>
      <button class="confirm-button" @click="${this._confirmClickHandler}">적용</button>
      ${this.$nextBtn}
    </div>
    <div class="control" @touchstart="${this._touchStart}" @touchmove="${this._touchMove}">
      <ul class="list">
        <li  @click="${this._allChecked}">
          <span class="text">전체선택</span>
          <span class="checkbox" data-value="allCheck">
            <dews-checkbox class="multi-checkbox"></dews-checkbox>
          </span>
        </li>
          ${this.$itemList}
        </li>
      </ul>
    </div>
  </div>
</drawer-layout>
` :html`
<drawer-layout class="drawer-layout" @close="${this._close}"  ?active="${this.active}" scrollEnabled>
  <div class="drawer-dropdown-single">
    <div class="titlebar">
      <div class="title">${this.title}</div>
    </div>
    <div class="control" @touchstart="${this._touchStart}" @touchmove="${this._touchMove}">
      <ul class="list">
        ${this.$itemList}
      </ul>
    </div>
  </div>
</drawer-layout>
` }





