<!--<button ?disabled="${this.disabled}" >-->
<!--  <span class="icon"></span>-->
<!--  <span class="text">${this.title}</span>-->
<!--</button>-->

<h2 style="font-size:15px;">Solid small</h2>
<button class="dews-button solid text small">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼</span>
</button>

<button class="dews-button solid text small disabled">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼</span>
</button>

<button class="dews-button solid icon small tmp-icon">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼</span>
</button>

<button class="dews-button solid icon small disabled tmp-icon">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼</span>
</button>

<button class="dews-button solid icon-text small tmp-icon">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼 버튼버튼 버튼버튼 버튼버튼 버튼버튼 버튼버튼 버튼버튼 버튼버튼 버튼버튼</span>
</button>

<button class="dews-button solid icon-text small disabled tmp-icon">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼 버튼버튼 버튼버튼</span>
</button>

<p style="height: 20px;"></p>
<h2 style="font-size:15px;">Emphasize small</h2>

<button class="dews-button emphasize text small">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼</span>
</button>

<button class="dews-button emphasize text small disabled">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼</span>
</button>

<button class="dews-button emphasize icon small tmp-icon">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼</span>
</button>

<button class="dews-button emphasize icon small disabled tmp-icon">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼</span>
</button>

<button class="dews-button emphasize icon-text small tmp-icon">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼</span>
</button>

<button class="dews-button emphasize icon-text small disabled tmp-icon">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼</span>
</button>

<p style="height: 20px;"></p>
<h2 style="font-size:15px;">Solid medium</h2>

<button class="dews-button solid text medium">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼</span>
</button>

<button class="dews-button solid text medium disabled">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼</span>
</button>

<button class="dews-button solid icon medium tmp-icon">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼</span>
</button>

<button class="dews-button solid icon medium disabled tmp-icon">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼</span>
</button>

<button class="dews-button solid icon-text medium tmp-icon">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼</span>
</button>

<button class="dews-button solid icon-text medium disabled tmp-icon">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼</span>
</button>

<p style="height: 20px;"></p>
<h2 style="font-size:15px;">Emphasize medium</h2>

<button class="dews-button emphasize text medium">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼</span>
</button>

<button class="dews-button emphasize text medium disabled">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼</span>
</button>

<button class="dews-button emphasize icon medium tmp-icon">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼</span>
</button>

<button class="dews-button emphasize icon medium disabled tmp-icon">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼</span>
</button>

<button class="dews-button emphasize icon-text medium tmp-icon">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼</span>
</button>

<button class="dews-button emphasize icon-text medium disabled tmp-icon">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼</span>
</button>

<p style="height: 20px;"></p>
<h2 style="font-size:15px;">Solid large</h2>

<button class="dews-button solid text large">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼</span>
</button>

<button class="dews-button solid text large disabled">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼</span>
</button>

<button class="dews-button solid icon large tmp-icon">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼</span>
</button>

<button class="dews-button solid icon large disabled tmp-icon">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼</span>
</button>

<button class="dews-button solid icon-text large tmp-icon">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼</span>
</button>

<button class="dews-button solid icon-text large disabled tmp-icon">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼</span>
</button>

<p style="height: 20px;"></p>
<h2 style="font-size:15px;">Emphasize large</h2>

<button class="dews-button emphasize text large">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼</span>
</button>

<button class="dews-button emphasize text large disabled">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼</span>
</button>

<button class="dews-button emphasize icon large tmp-icon">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼</span>
</button>

<button class="dews-button emphasize icon large disabled tmp-icon">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼</span>
</button>

<button class="dews-button emphasize icon-text large tmp-icon">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼</span>
</button>

<button class="dews-button emphasize icon-text large disabled tmp-icon">
  <span class="button-icon"></span>
  <span class="button-text">버튼버튼</span>
</button>
