@import 'node_modules/@dews/dews-mobile-style/scss/variables/variables';
@import 'node_modules/@dews/dews-mobile-style/scss/mixins/_mixins';

//======================================
// dews-area-panel
//======================================

//--------------------------------------
// 레이아웃 영역
//--------------------------------------
* {
  @include reset();
}
:host {
  @include reset();
  position: relative;
  width: 100%;
}
@include media("(min-width: #{$media-size-tablet-l})") {
  :host {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
  }
}
