<span id="drawer" class="sorting-wrap" @click="${this._clickHandler}">
  <span class="sorting-order ${this.ascending ?'ascending': ''}"></span>
  <span class="sorting-input">${this.label}</span>
  <span class="sorting-icon"></span>
</span>

<drawer-layout class="drawer-layout"  ?dimming="${this.dimming}" scrollEnabled @close="${this._close}" ?active="${this.active}">
  <div class="sorting-list">
    <div class="titlebar">
      <div class="title">항목명</div>
    </div>
    <div class="control">
      <ul class="list">
        <slot></slot>
      </ul>
    </div>
  </div>
</drawer-layout>
