<div class="layer-drawer" @touchmove="${this._touchMove}" @touchend="${this._touchEnd}" @mousemove="${this._mouseMove}"
     @mouseup="${this._mouseUp}">
<!--  <div class="layer-drawer">-->
  <div class="overlay"></div>
  <div class="layer layer-bottom" style="height: ${this._height};">
    <div class="layer-moving-button">
      <span class="moving-button" @touchstart="${this._touchStart}" @mousedown="${this._mouseDown}"></span>
    </div>
    <div class="layer-content">
      <slot></slot>
    </div>
  </div>
</div>


<!--<div style="height: 300px; background-color: #7f7f7f; position: relative;" @mousemove="${this._mouseMove}" @mouseup="${this._mouseUp}">-->
<!--  <div style="border:1px solid; width: 100%; position: absolute; bottom: 30px;">-->
<!--    <div style="height: 10px; background-color: #fff4c2"  @mousedown="${this._mouseDown}">-->
<!--    </div>-->
<!--    <div id="content" style="height: 200px; background-color: #E8E8E8" >-->
<!--    </div>-->
<!--  </div>-->
<!--  <div style="height: 30px; width: 100%; background-color: #880000;position: absolute; bottom: 0;">-->
<!--    <button @click="${this._clickHandler}" >ab</button>-->
<!--  </div>-->
<!--</div>-->





