@import 'node_modules/@dews/dews-mobile-style/scss/variables/variables';
@import 'node_modules/@dews/dews-mobile-style/scss/mixins/_mixins';

//======================================
// dews-dropdown-list
//======================================
//--------------------------------------
// 레이아웃 영역
//--------------------------------------
* {
  @include reset();
}

@include layer-drawer();

.layer-drawer .layer.layer-bottom {
  transition: height 1s ease-in-out 0s;
}
:host([active]) .layer-drawer .layer.layer-bottom {
  height: calc(100vh - 134px);
  transition: height 1s ease-in-out 0s;
}
:host([active]) .layer-drawer .layer.layer-bottom.little_moving {
  transition: inherit !important
}

