<!-- all  -->
<div class="numeric-textbox-wrap">
  ${this._title}
  <div class="numeric-wrap">
    ${this.prefix === undefined ? '' : html`<span class="prefix">${this.prefix}</span>`}
    <span id="view" class="numeric view ${this.disabled?'disabled':''}" @click="${this._focusIn}">
        <input id="numeric-box" type="text" value="${this.value}" ?disabled="${this._disabled}" ?readonly="${this.readonly}" ?placeholder="${this.placeholder}" >
    </span>
    <span id="mask" class="numeric mask" style="display: none">
        <input type="number" value="${this.value}" step="${this._step}" min="${this.min}" max="${this.max}"  @beforeinput="${this._beforeInput}" @input="${this._inputChange}" @focusin="${this._focusIn}" @blur="${this._focusBlur}" >
    </span>
    ${this.suffix === undefined ? '' :html`<span class="suffix">${this.suffix}</span>`}
    ${this._button}
  </div>
</div>



