<!--<div class="dews-complex-component">-->
<!--  <label>${this.title}</label>-->
<!--  <span>-->
<!--    ${this.components}-->
<!--  </span>-->
<!--</div>-->

<!--

 complex-line의 하위 div 클래스 명
 .item: 공통 클래스
 .compoents: 컴포넌트
 .text: text tag
 .variable: 가변
 .autofix: 자동고정
 .fix: 고정

 fix의 경우에는 개발자가 component의 width를 직접 할당해 고정
 autofix는 현재 component/text tag의 너비가 고정
 variable은 가변으로 남아있는 영역만큼 가변으로 진행됨

 * 현재 zipcode component는 기획 예정이라 제외
 * text tag 처리 방안 확인 필요

-->
<h5 style="padding: 10px 0;">1번 조합</h5>
<div class="dews-complex">
  <label for="">Title</label>
  <ul class="complex-wrap">
    <li class="complex-line">
      <div class="components item variable" style="width: calc((100% - 0px) / 2);">
        <!-- 컴포넌트 영역  -->
        <div class="dropdown-list-wrap">
          <label for="">항목명</label>
          <span class="select-wrap">
            <span class="select-shape">
                <span class="select-input">
                    더존비즈온 ERP 사업부문 호로로록더존비즈온 ERP 사업부문 호로로록
                </span>
                <span class="select-multi">
                    외 <strong>1</strong>건
                </span>
            </span>
            <span class="select-icon dropdown-icon"></span>
          </span>
        </div>
        <!-- // 컴포넌트 영역 -->
      </div>
      <div class="components item variable" style="width: calc((100% - 0px) / 2);">
        <!-- 컴포넌트 영역  -->
        <div class="code-picker code-picker-wrap">
          <label for="">항목</label>
          <span class="select-wrap">
              <span class="select-shape">
                  <span class="select-input">
                      A 품목
                  </span>
              </span>
              <span class="select-icon code-picker-icon"></span>
          </span>
        </div>
        <!-- 컴포넌트 영역  -->
      </div>
    </li>
  </ul>
</div>

<h5 style="padding: 10px 0;">2번 조합</h5>
<div class="dews-complex">
  <label for="">Title</label>
  <ul class="complex-wrap">
    <li class="complex-line">
      <div class="components item fix" style="width: 100px;">
        <!-- 컴포넌트 영역  -->
        <div class="dropdown-list-wrap">
          <label for="">항목명</label>
          <span class="select-wrap">
              <span class="select-shape">
                  <span class="select-input">
                      http://
                  </span>
              </span>
              <span class="select-icon dropdown-icon"></span>
          </span>
        </div>
        <!-- 컴포넌트 영역  -->
      </div>
      <div class="components item variable" style="width: calc((100% - 150px) / 1);">
        <!-- 컴포넌트 영역  -->
        <div class="textbox-wrap">
          <label for="textbox">항목명</label>
          <input type="text" class="dews-input" id="textbox">
        </div>
        <!-- 컴포넌트 영역  -->
      </div>
    </li>
  </ul>
</div>

<h5 style="padding: 10px 0;">3번 조합</h5>
<div class="dews-complex">
  <label for="">Title</label>
  <ul class="complex-wrap">
    <li class="complex-line">
      <div class="components item fix" style="width: 100px;">
        <!-- 컴포넌트 영역  -->
        <div class="dropdown-list-wrap">
          <label for="">항목명</label>
          <span class="select-wrap">
              <span class="select-shape">
                  <span class="select-input">
                      KRW
                  </span>
              </span>
              <span class="select-icon dropdown-icon"></span>
          </span>
        </div>
        <!-- 컴포넌트 영역  -->
      </div>
      <div class="components item variable" style="width: calc((100% - 150px) / 1);">
        <!-- 컴포넌트 영역  -->
        <div class="numeric-textbox-wrap">
          <label for="">all</label>
          <div class="numeric-wrap">
            <span class="numeric">
                <input type="text" value="100,000">
            </span>
            <span class="suffix">백만</span>
          </div>
        </div>
        <!-- 컴포넌트 영역  -->
      </div>
    </li>
  </ul>
</div>

<h5 style="padding: 10px 0;">4번 조합</h5>
<div class="dews-complex">
  <label for="">Title</label>

  <ul class="complex-wrap">

    <li class="complex-line">
      <div class="components item fix" style="width: 90px;">
        <!-- 컴포넌트 영역  -->
        <div class="dropdown-list-wrap">
          <label for="">항목명</label>
          <span class="select-wrap">
              <span class="select-shape">
                  <span class="select-input">
                      KRW
                  </span>
              </span>
              <span class="select-icon dropdown-icon"></span>
          </span>
        </div>
        <!-- 컴포넌트 영역  -->
      </div>

      <div class="components item variable" style="width: calc((100% - 90px) / 1);">
        <!-- 컴포넌트 영역  -->
        <div class="numeric-textbox-wrap">
          <label for="">all</label>
          <div class="numeric-wrap">
            <span class="numeric">
                <input type="text" value="100,000">
            </span>
            <span class="suffix">백만</span>
            <span class="stepper">
                <button class="button-stepper minus"><span>-</span></button>
                <button class="button-stepper plus"><span>+</span></button>
            </span>
          </div>
        </div>
        <!-- 컴포넌트 영역  -->
      </div>
    </li>
  </ul>
</div>

<h5 style="padding: 10px 0;">5번 조합</h5>
<div class="dews-complex">
  <label for="">Title</label>
  <ul class="complex-wrap">
    <li class="complex-line">
      <div class="components item variable" style="width: calc((100% - 0) / 1);">
        <!-- 컴포넌트 영역  -->
        <div class="dropdown-list-wrap">
          <label for="">항목명</label>
          <span class="select-wrap">
              <span class="select-shape">
                  <span class="select-input">
                      연락 부탁 드리겠습니다.
                  </span>
              </span>
              <span class="select-icon dropdown-icon"></span>
          </span>
        </div>
        <!-- 컴포넌트 영역  -->
      </div>
    </li>
    <li class="complex-line">
      <div class="components item variable" style="width: calc((100% - 0) / 1);">
        <!-- 컴포넌트 영역  -->
        <div class="dews-textbox">
          <label for="">항목명</label>
          <input type="text" id="textbox" class="">
        </div>
        <!-- 컴포넌트 영역  -->
      </div>
    </li>
  </ul>
</div>

<h5 style="padding: 10px 0;">6번 조합</h5>
<div class="dews-complex">
  <label for="">Title</label>
  <ul class="complex-wrap">
    <li class="complex-line">
      <div class="components item variable" style="width: calc((100% - 0) / 1);">
        <!-- 컴포넌트 영역  -->
        <div class="dropdown-list-wrap">
          <label for="">항목명</label>
          <span class="select-wrap">
              <span class="select-shape">
                  <span class="select-input">
                      연락 부탁 드리겠습니다.
                  </span>
              </span>
              <span class="select-icon dropdown-icon"></span>
          </span>
        </div>
        <!-- 컴포넌트 영역  -->
      </div>
    </li>
    <li class="complex-line">
      <div class="components item variable" style="width: calc((100% - 0) / 1);">
        <!-- 컴포넌트 영역  -->
        <div class="dews-textbox">
          <label for="">항목명</label>
          <input type="text" id="textbox" class="">
        </div>
        <!-- 컴포넌트 영역  -->
      </div>
    </li>
  </ul>
</div>

<h5 style="padding: 10px 0;">7번 조합</h5>
<div class="dews-complex">
  <label for="">Title</label>
  <ul class="complex-wrap">
    <li class="complex-line">
      <div class="components item variable" style="width: calc((100% - 54px) / 1);">
        <!-- 컴포넌트 영역  -->
        <div class="date-picker-wrap">
          <label for="">항목명</label>
          <span class="select-wrap">
              <span class="select-shape">
                  <span class="select-input">
                      YYYY-MM-DD
                  </span>
              </span>
              <span class="select-icon date-picker-icon"></span>
          </span>
        </div>
        <!-- 컴포넌트 영역  -->
      </div>
      <div class="components item autofix">
        <!-- 컴포넌트 영역  -->
        <span class="dews-checkbox-wrap">
            <span class="checkbox-control">
                <input type="checkbox">
                <span class="checkbox-shape"></span>
            </span>
            <label class="checkbox-label">종일</label>
        </span>
        <!-- 컴포넌트 영역  -->
      </div>
    </li>
    <li class="complex-line">
      <div class="components item variable" style="width: calc((100% - 7px) / 2);">
        <!-- 컴포넌트 영역  -->
        <div class="date-picker-wrap">
          <label for="">항목명</label>
          <span class="select-wrap">
              <span class="select-shape">
                  <span class="select-input">
                      YYYY-MM-DD
                  </span>
              </span>
              <span class="select-icon date-picker-icon"></span>
          </span>
        </div>
        <!-- 컴포넌트 영역  -->
      </div>

      <div class="text item autofix"><span>-</span></div>

      <div class="components item variable" style="width: calc((100% - 7px) / 2);">
        <!-- 컴포넌트 영역  -->
        <div class="date-picker-wrap">
          <label for="">항목명</label>
          <span class="select-wrap">
              <span class="select-shape">
                  <span class="select-input">
                      YYYY-MM-DD
                  </span>
              </span>
              <span class="select-icon date-picker-icon"></span>
          </span>
        </div>
        <!-- 컴포넌트 영역  -->
      </div>
    </li>
  </ul>
</div>

<h5 style="padding: 10px 0;">8번 조합</h5>
<div class="dews-complex">
  <label for="">Title</label>
  <ul class="complex-wrap">
    <li class="complex-line">
      <div class="components item variable" style="width: calc((100% - 36px) / 1);">
        <!-- 컴포넌트 영역  -->
        <div class="code-picker code-picker-wrap">
          <label for="">항목</label>
          <span class="select-wrap">
              <span class="select-shape">
                  <span class="select-input">
                      자격증
                  </span>
              </span>
              <span class="select-icon code-picker-icon"></span>
          </span>
        </div>
        <!-- 컴포넌트 영역  -->
      </div>
      <div class="components item autofix">
        <!-- 컴포넌트 영역  -->
        <button class="dews-button solid icon ico-set large">
          <span class="button-icon"></span>
          <span class="button-text"></span>
        </button>
        <!-- 컴포넌트 영역  -->
      </div>
    </li>
  </ul>
  </div>
</div>

<h5 style="padding: 10px 0;">9번 조합</h5>
<div class="dews-complex">
  <label for="">Title</label>
  <ul class="complex-wrap">
    <li class="complex-line">
      <div class="components item variable" style="width: calc((100% - 14px) / 3);">
        <!-- 컴포넌트 영역  -->
        <div class="dews-textbox">
          <label for="">항목명</label>
          <input type="text" id="textbox" class="">
        </div>
        <!-- 컴포넌트 영역  -->
      </div>

      <div class="text item autofix"><span>-</span></div>
      <div class="components item variable" style="width: calc((100% - 14px) / 3);">
        <!-- 컴포넌트 영역  -->
        <div class="dews-textbox">
          <label for="">항목명</label>
          <input type="text" id="textbox" class="">
        </div>
        <!-- 컴포넌트 영역  -->
      </div>
      <div class="text item autofix"><span>-</span></div>
      <div class="components item variable" style="width: calc((100% - 14px) / 3);">
        <!-- 컴포넌트 영역  -->
        <div class="dews-textbox">
          <label for="">항목명</label>
          <input type="text" id="textbox" class="">
        </div>
        <!-- 컴포넌트 영역  -->
      </div>

    </li>
  </ul>
</div>

