<!-- input box 일때 -->

<div class="mask-textbox-wrap" style="padding: 0 20px;">
  <label>${this.title}</label>
  <span  @click="${this._spanClick}" class="password view ${this.disabled ? 'disabled' : ''}">
    <input ?disabled="${this._disabled}" ?readonly="${this.readonly}" type="password">
  </span>
  <span  style="display: none " class="password mask">
    <input @input="${this._inputChange}" @blur="${this._blur}" type="${this.type}">
  </span>
</div>


  <p style="padding:16px;"></p>

<!--<div class="mask-textbox-wrap" style="padding: 0 20px 20px;">-->
<!--    <label for="mask-textbox">${this.title}</label>-->
<!--  <span class="text">-->
<!--    <input type="text">-->
<!--  </span>-->
<!--</div>-->
