<div class="layer-drawer" @touchmove="${this._touchMove}" @touchend="${this._touchEnd}">
  <!--  <div class="layer-drawer">-->
  <div class="overlay"></div>
  <div class="layer layer-bottom" style="height: ${this._height};">
    <div class="layer-moving-button">
      ${this.scrollEnabled ? html`<span class="moving-button" @touchstart="${this._touchStart}"></span>`:html`<span class="fixed-button" @touchstart="${this._touchStart}"></span>`}
    </div>
    <div class="layer-content">
      <slot></slot>
    </div>
  </div>
</div>





