${this.multi?html`
<!-- multi codepicker  -->
<div class="codepicker codepicker-wrap" id="drawer"  @click="${this._clickHandler}">
  <label for="">${this.title}</label>
  <span class="select-wrap" tabindex="1">
      <span class="select-shape">
          <span class="select-input">
               ${this.text}
          </span>
        <!--   멀티일 경우 span.select-multi 추가  -->
          <span class="select-multi">
              ${(this.texts.length > 1)?html` 외 <strong>${this.texts.length - 1}</strong>건` : ''}
          </span>
      </span>
      <span class="select-icon code-picker-icon"></span>
  </span>
</div>
`:html`
<div class="codepicker codepicker-wrap" id="drawer"  @click="${this._clickHandler}">
  <label for="">${this.title}</label>
  <span class="select-wrap" tabindex="1">
      <span class="select-shape">
          <span class="select-input">
              ${this.text}
          </span>
      </span>
      <span class="select-icon code-picker-icon"></span>
  </span>
</div>
`}

<drawer-layout class="drawer-layout" @close="${this._close}" ?active="${this.active}" scrollEnabled dimming tabindex="-1">
  <div class="drawer-codepicker">
    <div class="titlebar">
      <div class="title">${this.helpTitle}</div>
      <button class="confirm-button" @click="${this._confirmClickHandler}">적용</button>
      <button class="next-icon-button"><span>다음</span></button>
    </div>

    <div class="control" scrollEnabled>

      <!-- //active -->
      <div class="layer-code-filter ">

<!--          <div class="code-filter-search">-->
<!--            &lt;!&ndash; 조건 설정 시 setting 추가  &ndash;&gt;-->
<!--            &lt;!&ndash; filter 사용 안 할 경우, disabled  &ndash;&gt;-->
<!--            <button class="filter-button ${this.filterDisabled}" @click="${this._clickFilter}"><span>filiter</span>-->
<!--            </button>-->
<!--            &lt;!&ndash; input 활성화시 active &ndash;&gt;-->
<!--            <span class="code-filter-input">-->
<!--                <input type="text">-->
<!--                <button class="clear-button"><span>초기화</span></button>-->
<!--                <button class="search-button"><span>검색</span></button>-->
<!--            </span>-->
<!--          </div>-->
<!--          <div class="code-filter-field">-->
<!--            &lt;!&ndash;  해당 영역 component.. 처리  &ndash;&gt;-->
<!--&lt;!&ndash;            <ul class="form-field" @change="${this._changeControlValue}">&ndash;&gt;-->
<!--&lt;!&ndash;            </ul>&ndash;&gt;-->
<!--          </div>-->

      </div>

      <!--.codepicker 제거함-->
      <div class="dews-cardlist">

        <!-- 전체 선택 -->
        <!-- codepicker 시 codepicer-control 추가, select 시 선택목록 노출 -->
<!--        <div class="cardlist-all-select codepicker-control ">-->
<!--          <div class="card-total">-->
<!--            <span>총<strong>2</strong>건</span>-->
<!--          </div>-->

<!--          &lt;!&ndash; codepicker 에서 사용 &ndash;&gt;-->
<!--          <div class="list-select">-->
<!--              <span class="list-select-title">선택목록</span>-->
<!--              <button class="list-select-button"> <span>99+</span> </button>-->
<!--          </div>-->

<!--          <div class="all-select">-->
<!--            <dews-checkbox reverse title="전체선택"></dews-checkbox>-->
<!--          </div>-->
<!--        </div>-->

        <div class="cardlist-wrap">
<!--          <div class="cardlist" style="height: 430px;">-->

<!--            <div class="card">-->
<!--              <div class="card-header">-->
<!--                <div class="card-control">-->
<!--                  <ul>-->
<!--                    <li>-->
<!--                      <dews-checkbox></dews-checkbox>-->
<!--                    </li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--              </div>-->
<!--              <ul class="list-field">-->
<!--                <li>-->
<!--                  <p class="name">거래처코드</p>-->
<!--                  <p class="item"  data-value="code">RC002578</p>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <p class="name">거래처명</p>-->
<!--                  <p class="item" data-value="text">㈜더존개발</p>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <p class="name">사업자등록번호</p>-->
<!--                  <p class="item">100-10-12345</p>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </div>-->
        </div>
      </div>
    </div>
  </div>
</drawer-layout>
<slot @slotchange="${this._slotChange}"></slot>
