<div class="date-picker-wrap focus" @click="${this._clickHandler}">
  <label for="">${this.title}</label>
  <span class="select-wrap">
      <span class="select-shape">
          <span class="select-input">
              ${this.value}
          </span>
      </span>
      <span class="select-icon date-picker-icon"></span>
  </span>
</div>


<drawer-layout class="drawer-layout" @close="${this._close}" ?active="${this.active}">
  <div class="drawer-date-picker">
    <div class="titlebar">
      <div class="title">${this.title}</div>
      <button class="confirm-button" @click="${this._confirmClickHandler}">적용</button>
      ${this.$nextBtn}
    </div>

    <div class="control">

      <div class="layer-date-picker-input-wrap">
        <span class="layer-date-picker-input">

          <span class="view" @click="${this._inputClickHandler}">
            <input type="text" disabled />
          </span>
          <span class="mask" style="display: none">
            <input type="number" @beforeinput="${this._beforeInputHandler}" @blur="${this._inputBlurHandler}" />
          </span>
<!--            <dews-textbox value="${this._value}"-->
<!--                          @blur="${this._inputBlur}"></dews-textbox>-->
          <!--  input text component  -->
        </span>
        <button class="clear-button" @click="${this._removeClickHandler}">
          <span>초기화</span>
        </button>
      </div>

      <div class="layer-calendar-wrap">
        <div class="calender-header">
          <div class="header">
            <button class="prev calendar-button" @click="${this._beforeAnimation}"><span>이전</span></button>
            <button class="fast calendar-button" @click="${this._modeClickHandler}"><span>${this._modeView}</span>
            </button>
            <button class="next calendar-button" @click="${this._afterAnimation}"><span>다음</span></button>
          </div>

          <button class="today calendar-button" @click="${this._nowClickHandler}"><span>오늘</span></button>
        </div>

        <div class="calendar-content" @touchstart="${this._touchStartHandler}" @touchend="${this._touchEndHandler}"
             @touchmove="${this._touchMoveHandler}">
          <div class="calendar-flip-wrap">
            ${this._backView}
            ${this._nowView}
            ${this._nextView}
          </div>
        </div>
      </div>
    </div>
  </div>
</drawer-layout>
