<!--<div class="datepicker-wrap" @click="${this._clickHandler}">-->
<!--  <label for="textbox">${this.title}</label>-->
<!--  <input type="text" @input="${this._onChange}" class="datepicker" id="textbox"  readonly/>-->
<!--</div>-->

<!--<drower-layout @close="${this._close}"  ?active="${this.active}"></drower-layout>-->

<div class="date-picker-wrap" @click="${this._clickHandler}">
  <label for="">${this.title}</label>
  <span class="select-wrap">
      <span class="select-shape">
          <span class="select-input">
              YYYY-MM-DD
          </span>
      </span>
      <span class="select-icon date-picker-icon"></span>
  </span>
</div>


<drower-layout @close="${this._close}"  ?active="${this.active}">
  <div class="drawer-date-picker">
    <div class="titlebar">
      <div class="title">${this.title}</div>
      <button class="confirm-button">적용</button>
      ${this.$nextBtn}
    </div>

    <div class="control">

      <div class="layer-date-picker-input-wrap">
        <span class="layer-date-picker-input">
            <input type="text">
            <!--  input text component  -->
        </span>
        <button class="clear-button">
          <span>초기화</span>
        </button>
      </div>

      <div class="layer-calendar-wrap">
        <div class="calender-header">
          <div class="header">
            <button class="prev calendar-button" @click="${this._backAnimation}"><span>이전</span></button>
            <button class="fast calendar-button"><span>${this._viewYear}-${this._viewMonth}</span></button>
            <button class="next calendar-button" @click="${this._nextAnimation}"><span>다음</span></button>
          </div>

          <button class="today calendar-button" @click="${this._nowBtn}"><span>오늘</span></button>
        </div>

        <div class="calendar-content" @touchstart="${this._touchStartHandler}" @touchend="${this._touchEndHandler}" @touchmove="${this._touchMoveHandler}">
          <!-- .calendar-flip-wrap 의 width는 calendar-date(width) * 3  -->
          <!-- 현재 위치 : transform: translate3d(-726px, 0px, 0px); -->
          <!-- 이동 시, transform: translate3d((이 값 변경)px, 0px, 0px); -->
          <!-- 만약 위 style로 변경되지 않을 경우, 수정 필요  -->
          <div class="calendar-flip-wrap">
            <!-- .calendar-date 의 width == .calendar-content 의 width size  -->
            <div class="calendar-date">
            <span class="day-name">일</span>
            <span class="day-name">월</span>
            <span class="day-name">화</span>
            <span class="day-name">수</span>
            <span class="day-name">목</span>
            <span class="day-name">금</span>
            <span class="day-name">토</span>
            ${this._dateView1}
          </div>

            <div class="calendar-date">
              <span class="day-name">일</span>
              <span class="day-name">월</span>
              <span class="day-name">화</span>
              <span class="day-name">수</span>
              <span class="day-name">목</span>
              <span class="day-name">금</span>
              <span class="day-name">토</span>
              ${this._dateView2}
            </div>

            <div class="calendar-date">
              <span class="day-name">일</span>
              <span class="day-name">월</span>
              <span class="day-name">화</span>
              <span class="day-name">수</span>
              <span class="day-name">목</span>
              <span class="day-name">금</span>
              <span class="day-name">토</span>
              ${this._dateView3}
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>


</drower-layout>
