<div class="time-picker-wrap" id="drawer" @click="${this._clickHandler}">
  <label for="">${this.title}</label>
  <span class="select-wrap">
      <span class="select-shape">
          <span class="select-input">${this.inputValue}</span>
      </span>
      <span class="select-icon time-picker-icon"></span>
  </span>
</div>


  <drawer-layout class="drawer-layout" @close="${this._close}"  ?active="${this.active}">
    <div class="drawer-time-picker">
      <div class="titlebar">
        <div class="title">${this.title}</div>
        <button class="confirm-button" @click="${this._confirmClickHandler}">적용</button>
        ${this.$nextBtn}

      </div>

      <div class="control">
        <div class="layer-time-picker-input-wrap">
          <span class="layer-picker-input">
            <span class="picker-input">
               <input class="input" type="text" inputmode="numeric" pattern="[0-9]*" @click="${this._inputClickHandler}"
                      value="${this._value}" @beforeinput="${this._beforeInputHandler}" @input="${this._inputHandler}" readonly="readonly">
            </span>
          </span>
          <button class="clear-button" @click="${this._removeClickHandler}">
            <span>초기화</span>
          </button>
          </div>

        <div class="layer-calendar-wrap">
          <div class="calender-header">
            <div class="header">
              <span class="calendar-spinner-title">Time</span>
            </div>
          </div>

          <div class="calendar-content ">

            <div class="calendar-spinner-wrap">
              <div class="spinner-wrap spinner-allday-wrap">
                <div class="selector"></div>
                <div class="spinner-box">
                  <div class="content allday">
                    <div style="transform: translateY(0px);">
                      <ul class="moving-list" @touchstart="${this._touchStartHandler}" @touchmove="${this._touchMoveHandler}" @touchend="${this._touchEndHandler}" >
                        ${this.$meridiem}

                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="spinner-wrap spinner-hour-wrap">
                <div class="selector"></div>
                <div class="spinner-box">
                  <div class="content hour">
                    <div style="transform: translateY(0px);">
                      <ul class="moving-list hour" @touchstart="${this._touchStartHandler}" @touchmove="${this._touchMoveHandler}" @touchend="${this._touchEndHandler}" >
                        ${this.$hour}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="spinner-wrap spinner-minute-wrap">
                <div class="selector"></div>
                <div class="spinner-box">
                  <div class="content minute">
                    <div style="transform: translateY(0px);">
                      <ul class="moving-list" @touchstart="${this._touchStartHandler}" @touchmove="${this._touchMoveHandler}" @touchend="${this._touchEndHandler}" >
                        ${this.$minute}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

  </drawer-layout>


