<div class="codepicker codepicker-wrap" @click="${this._clickHandler}" style="height: 27px; background: yellow">
  <label for="">${this.title}</label>
  <span class="select-wrap">
      <span class="select-shape">
          <span class="select-input">
              ${this.inputValue}
          </span>
      </span>
      <span class="select-icon code-picker-icon"></span>
  </span>
</div>

<!-- multi codepicker  -->
<div class="codepicker codepicker-wrap" @click="${this._clickHandler}" style="height: 27px; background: yellow">
  <label for="">${this.title}</label>
  <span class="select-wrap">
      <span class="select-shape">
          <span class="select-input">
            <!--  ${this.inputValue}-->
            더존비즈온 ERP 사업부문 텍스트가 길 경우 이렇게 나오게 됩니다. 더존비즈온 ERP 사업부문 텍스트가 길 경우 이렇게 나오게 됩니다. 더존비즈온 ERP 사업부문 텍스트가 길 경우 이렇게 나오게 됩니다.
          </span>
          <!--   멀티일 경우 span.select-multi 추가  -->
          <span class="select-multi">
            외 <strong>1</strong>건
          </span>
      </span>
      <span class="select-icon code-picker-icon"></span>
  </span>
</div>


<drawer-layout class="drawer-layout" @close="${this._close}" ?active="${this.active}">
  <div class="drawer-codepicker">
    <div class="titlebar">
      <div class="title">항목명</div>
      <button class="confirm-button">적용</button>
      <button class="next-icon-button"><span>다음</span></button>
    </div>

    <div class="control">

      <div class="dews-cardlist codepicker">

        <!-- 전체 선택 -->
        <div class="cardlist-all-select codepicker-control ">
          <div class="card-total">
            <span>총<strong>2</strong>건</span>
          </div>

          <div class="list-select">
              <span class="list-select-title">선택목록</span>
              <button class="list-select-button"> <span>99+</span> </button>
          </div>

          <div class="all-select">
            <dews-checkbox reverse title="전체선택"></dews-checkbox>
          </div>
        </div>

        <div class="cardlist-wrap">
          <div class="cardlist" style="height: 430px;">

            <div class="card">
              <div class="card-header">
                <div class="card-control">
                  <ul>
                    <li>
                      <dews-checkbox></dews-checkbox>
                    </li>
                  </ul>
                </div>
              </div>


              <ul class="list-field">
                <li>
                  <p class="name">거래처코드</p>
                  <p class="item">RC002578</p>
                </li>
                <li>
                  <p class="name">거래처명</p>
                  <p class="item">㈜더존개발</p>
                </li>
                <li>
                  <p class="name">사업자등록번호</p>
                  <p class="item">100-10-12345</p>
                </li>
                <li>
                  <p class="name">대표자</p>
                  <p class="item">김더존</p>
                </li>
                <li>
                  <p class="name">등록일</p>
                  <p class="item">2020-10-27 14:29:00</p>
                </li>
                <li>
                  <p class="name">매출액</p>
                  <p class="item number">220,000,000,000</p>
                </li>
              </ul>
            </div>

            <div class="card">
              <div class="card-header">
                <div class="card-control">
                  <ul>
                    <li>
                      <dews-checkbox></dews-checkbox>
                    </li>
                  </ul>
                </div>
              </div>

              <ul class="list-field">
                <li>
                  <p class="name">거래처코드</p>
                  <p class="item">RC002578</p>
                </li>
                <li>
                  <p class="name">거래처명</p>
                  <p class="item">㈜더존개발</p>
                </li>
                <li>
                  <p class="name">사업자등록번호</p>
                  <p class="item">100-10-12345</p>
                </li>
                <li>
                  <p class="name">대표자</p>
                  <p class="item">김더존</p>
                </li>
                <li>
                  <p class="name">등록일</p>
                  <p class="item">2020-10-27 14:29:00</p>
                </li>
                <li>
                  <p class="name">매출액</p>
                  <p class="item number">220,000,000,000</p>
                </li>
              </ul>
            </div>

            <div class="card">
              <div class="card-header">
                <div class="card-control">
                  <ul>
                    <li>
                      <dews-checkbox></dews-checkbox>
                    </li>
                  </ul>
                </div>
              </div>
              <ul class="list-field">
                <li>
                  <p class="name">거래처코드</p>
                  <p class="item">RC002578</p>
                </li>
                <li>
                  <p class="name">거래처명</p>
                  <p class="item">㈜더존개발</p>
                </li>
                <li>
                  <p class="name">사업자등록번호</p>
                  <p class="item">100-10-12345</p>
                </li>
                <li>
                  <p class="name">대표자</p>
                  <p class="item">김더존</p>
                </li>
                <li>
                  <p class="name">등록일</p>
                  <p class="item">2020-10-27 14:29:00</p>
                </li>
                <li>
                  <p class="name">매출액</p>
                  <p class="item number">220,000,000,000</p>
                </li>
              </ul>
            </div>

            <div class="card">
              <div class="card-header">
                <div class="card-control">
                  <ul>
                    <li>
                      <dews-checkbox></dews-checkbox>
                    </li>
                  </ul>
                </div>
              </div>
              <ul class="list-field">
                <li>
                  <p class="name">거래처코드</p>
                  <p class="item">RC002578</p>
                </li>
                <li>
                  <p class="name">거래처명</p>
                  <p class="item">㈜더존개발</p>
                </li>
                <li>
                  <p class="name">사업자등록번호</p>
                  <p class="item">100-10-12345</p>
                </li>
                <li>
                  <p class="name">대표자</p>
                  <p class="item">김더존</p>
                </li>
                <li>
                  <p class="name">등록일</p>
                  <p class="item">2020-10-27 14:29:00</p>
                </li>
                <li>
                  <p class="name">매출액</p>
                  <p class="item number">220,000,000,000</p>
                </li>
              </ul>
            </div>

            <div class="card">
              <div class="card-header">
                <div class="card-control">
                  <ul>
                    <li>
                      <dews-checkbox></dews-checkbox>
                    </li>
                  </ul>
                </div>
              </div>
              <ul class="list-field">
                <li>
                  <p class="name">거래처코드</p>
                  <p class="item">RC002578</p>
                </li>
                <li>
                  <p class="name">거래처명</p>
                  <p class="item">㈜더존개발</p>
                </li>
                <li>
                  <p class="name">사업자등록번호</p>
                  <p class="item">100-10-12345</p>
                </li>
                <li>
                  <p class="name">대표자</p>
                  <p class="item">김더존</p>
                </li>
                <li>
                  <p class="name">등록일</p>
                  <p class="item">2020-10-27 14:29:00</p>
                </li>
                <li>
                  <p class="name">매출액</p>
                  <p class="item number">220,000,000,000</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- //active -->
      <div class="layer-code-filter">
        <div class="code-filter">
          <div class="code-filter-search">
            <!-- 조건 설정 시 setting 추가  -->
            <!-- filter 사용 안 할 경우, disabled  -->
            <button class="filter-button"><span>filiter</span></button>
            <!-- input 활성화시 active -->
            <span class="code-filter-input ">
                <input type="text">
                <button class="search-button"><span>검색</span></button>
            </span>
          </div>
          <div class="code-filter-field">
            <!--  해당 영역 component.. 처리  -->
            <ul class="form-field">
<!--              <li><dews-textbox title="TextBox"></dews-textbox></li>-->
<!--              <li><dews-datepicker title="DatePicker"></dews-datepicker></li>-->
<!--              <li><dews-dropdownlist title="DropDown"></dews-dropdownlist></li>-->
<!--              <li><dews-codepicker title="CodePicker"></dews-codepicker></li>-->
<!--              <li><dews-dropdownlist title="DropDown"></dews-dropdownlist></li>-->
<!--              <li><dews-codepicker title="CodePicker"></dews-codepicker></li>-->
<!--              <li><dews-textbox title="TextBox"></dews-textbox></li>-->
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</drawer-layout>
