@import 'node_modules/@dews/dews-mobile-style/scss/variables/variables';
@import 'node_modules/@dews/dews-mobile-style/scss/mixins/_mixins';

//======================================
// dews-area-tab-content
//======================================

//--------------------------------------
// 레이아웃 영역
//--------------------------------------
* {
  @include reset();
}
.content {
  @include area-tabs-content();
}

//--------------------------------------
// 애니메이션 영역
//--------------------------------------
.content {
    animation: tab-content-fade-effect 1s;
  }

@keyframes tab-content-fade-effect {
  from {opacity: 0;}
  to {opacity: 1;}
}
