<div class="date-picker-wrap focus" id="drawer" @click="${this._clickHandler}">
  <label for="">${this.title}</label>
  <span class="select-wrap" tabindex="1">
      <span class="select-shape">
          <span class="select-input">
              ${this.inputValue}
          </span>
      </span>
      <span class="select-icon date-picker-icon"></span>
  </span>
</div>


<drawer-layout class="drawer-layout"  @close="${this._close}" ?dimming="${this.dimming}" ?active="${this.active}" tabindex="-1">
  <div class="drawer-datepicker">
    <div class="titlebar">
      <div class="title">${this.title}</div>
      <button class="confirm-button" @click="${this._confirmClickHandler}">적용</button>
      ${this.$nextBtn}
    </div>

    <div class="control">

      <div class="layer-date-picker-input-wrap">
        <span class="layer-picker-input">
          <span class="picker-input">
             <input class="input" type="text" inputmode="numeric" pattern="[0-9]*" @click="${this._inputClickHandler}"
                    value="${this._value}" @beforeinput="${this._beforeInputHandler}" @input="${this._inputHandler}"/>
          </span>
        </span>
        <button class="clear-button" @click="${this._removeClickHandler}">
          <span>초기화</span>
        </button>
      </div>

      <div class="layer-calendar-wrap">
        <div class="calender-header">

          ${this.spinner?html`
          <div class="header">
            <span class="calendar-spinner-title">Date</span>
          </div>
          `: html`
          <div class="header">
            <button class="prev calendar-button" @click="${this._beforeClickHandler}"><span>이전</span></button>
            <button class="fast calendar-button" @click="${this._modeClickHandler}"><span>${this._modeView}</span>
            </button>
            <button class="next calendar-button" @click="${this._afterClickHandler}"><span>다음</span></button>
          </div>
          `}


          <button class="today-button calendar-button" @click="${this._nowClickHandler}"><span>오늘</span></button>
        </div>
        ${this.spinner ?html`
        <div class="calendar-content">
          <div class="calendar-spinner-wrap">
            <div class="spinner-wrap spinner-year-wrap">
              <div class="selector"></div>
              <div class="spinner-box">
                <div class="content year">
                  <div>
                    <ul class="moving-list year" @touchstart="${this._touchStartHandler}"
                        @touchend="${this._touchEndHandler}"
                        @touchmove="${this._touchMoveHandler}">
                      ${this.$spinnerYear}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="spinner-wrap spinner-month-wrap">
              <div class="selector"></div>
              <div class="spinner-box">
                <div class="content month">
                  <div>
                    <ul class="moving-list month" @touchstart="${this._touchStartHandler}"
                        @touchend="${this._touchEndHandler}"
                        @touchmove="${this._touchMoveHandler}">
                      ${this.$spinnerMonth}
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="spinner-wrap spinner-day-wrap">
              <div class="selector"></div>
              <div class="spinner-box">
                <div class="content day">
                  <div>
                    <ul class="moving-list day" @touchstart="${this._touchStartHandler}"
                        @touchend="${this._touchEndHandler}"
                        @touchmove="${this._touchMoveHandler}">
                      ${this.$spinnerDay}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          ` : html`
          <div class="calendar-content" @touchstart="${this._touchStartHandler}" @touchend="${this._touchEndHandler}"
               @touchmove="${this._touchMoveHandler}">
            <div class="calendar-flip-wrap">
              ${this._beforeView}
              ${this._nowView}
              ${this._afterView}
            </div>
          </div>
          `}


        </div>
      </div>
    </div>
  </div>
</drawer-layout>
