<!-- 디폴트 -->
<!-- 주의 메세지 : text-care -->
<!-- 경고 메세지 : text-warning -->
<div class="dews-container-infobox">
  <p class="info-text">
    ${this.$value}
<!--    참고해야 할 내용이 있을 경우 이 박스를 사용합니다. <span class="text-care">내용은 자유롭게 작성합니다.</span> 참고해야 할 내용이 있을 경우 이 박스를 사용합니다.-->
<!--    참고해야 할 내용이 있을 경우 <span class="text-warning">이 박스를 사용합니다.</span> 내용은 자유롭게 작성합니다. 참고해야 할 내용이 있을 경우 이 박스를 사용합니다.-->
  </p>
</div>

<!--&lt;!&ndash; 주의 메세지 &ndash;&gt;-->
<!--<div class="dews-container-infobox care">-->
<!--  <p class="info-text">-->
<!--    (서울=연합뉴스) 신재우 기자 = 식품의약품안전처(식약처)는 가정간편식·배달음식 제조·판매업체 4천540곳을 점검하고, 식품위생법 위반한 72곳(1.6%)을 적발했다고 10일 밝혔다.<br>-->
<!--    식약처는 신종 코로나바이러스 감염증(코로나19) 장기화로 수요가 크게 늘어난 가정간편식·배달음식의 위생 상태를 살펴보기 위해 지난달 12일부터 이달 4일까지 17개 시·도와 합동 점검을 했다.<br>-->
<!--    주요 위반사항은 ▲ 유통기한 경과 제품 보관·판매·사용(12곳) ▲ 건강진단 미실시(20곳) ▲ 위생적 취급기준 위반(7곳) ▲ 자가품질검사 미실시(22곳) ▲ 생산·작업 서류 미보관(4곳) ▲ 면적변경 미신고(3곳) ▲ 위생교육 미이수, 보관기준 위반(4곳) 등이다.-->
<!--  </p>-->
<!--</div>-->

<!--&lt;!&ndash; 경고 메세지 &ndash;&gt;-->
<!--<div class="dews-container-infobox warning">-->
<!--  <p class="info-text">-->
<!--    (서울=연합뉴스) 신재우 기자 = 식품의약품안전처(식약처)는 가정간편식·배달음식 제조·판매업체 4천540곳을 점검하고, 식품위생법 위반한 72곳(1.6%)을 적발했다고 10일 밝혔다.<br>-->
<!--    식약처는 신종 코로나바이러스 감염증(코로나19) 장기화로 수요가 크게 늘어난 가정간편식·배달음식의 위생 상태를 살펴보기 위해 지난달 12일부터 이달 4일까지 17개 시·도와 합동 점검을 했다.<br>-->
<!--    주요 위반사항은 ▲ 유통기한 경과 제품 보관·판매·사용(12곳) ▲ 건강진단 미실시(20곳) ▲ 위생적 취급기준 위반(7곳) ▲ 자가품질검사 미실시(22곳) ▲ 생산·작업 서류 미보관(4곳) ▲ 면적변경 미신고(3곳) ▲ 위생교육 미이수, 보관기준 위반(4곳) 등이다.-->
<!--  </p>-->
<!--</div>-->
