<button class="column-set will-touch" id="drawer" @click="${this._clickHandler}"><span>Column Set</span></button>


<drawer-layout class="drawer-layout" fix height-fix ?dimming="${this.dimming}" scrollEnabled @close="${this._close}" ?active="${this.active}">


  <div class="column-set-list">
    <div class="titlebar">
      <div class="title">컬럼 Set</div>
      <button class="confirm-button will-touch" @click="${this._confirmHandler}">적용</button>
    </div>

    <div class="control">
      <div class="column-list-wrap">
        <table class="column-list">
          <tbody id="table">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</drawer-layout>

<slot @slotchange="${this._slotChange}"></slot>
