${this.sliderType === 'range'?html`
<div class="dews-slider">
  <div class="slider-wrap">
    <div class="slider-track">
      <div
        class="slider-selection"
        style="left: ${this._startBtnLocation + '%'}; width:${(this._endBtnLocation-this._startBtnLocation) + '%'};"
      ></div>
      <button
        class="slider-handle start"
        style="left: calc(${this._startBtnLocation + '%'} - 7px)"
        @touchmove="${(e:TouchEvent)=>this._touchHandler(e, 'start')}"
      >
        <span class="title">slider handle</span>
      </button>
      <button
        class="slider-handle end"
        @touchmove="${(e:TouchEvent)=>this._touchHandler(e, 'end')}"
        style="left: calc(${this._endBtnLocation + '%'} - 7px)"
      >
        <span class="title">slider handle</span>
      </button>
    </div>
  </div>
  <div class="slider-quantity">
    <span class="quantity-min">${ this._startValue === undefined ? this.min : this._startValue }</span>
    <span class="quantity-max">${ this._endValue === undefined ? this.max : this._endValue }</span>
  </div>
</div>
` :html`
<div class="dews-slider stepper">
  <div class="slider-wrap">
    <div class="slider-track">
      <div class="slider-selection" style="width: ${this._tickBtnLocation + '%'}"></div>
      <button
        class="${this._tickButtonClassName}"
        title="drag"
        role="slider"
        style="left: calc(${this._tickBtnLocation + '%'} - 7px)"
        @touchmove="${(e:TouchEvent)=>this._touchHandler(e, 'tick')}"
        @touchstart="${this._touchStartHandler}"
        @touchend="${this._touchEndHandler}"
      >
        <span class="title">slider handle</span>
      </button>
      <div class="slider-tooltip" style="left: calc(${this._tickBtnLocation + '%'} - ${this._tooltipLocation + 'px'})">
        <span>${ this._tickValue === undefined ? this.min : this._tickValue }</span>
        <span class="tip"></span>
      </div>
    </div>
  </div>
  <button class="slider-stepper minus" @click="${this._minusBtnClick}"><span></span></button>
  <button class="slider-stepper plus" @click="${this._plusBtnClick}"><span></span></button>

  <div class="slider-quantity">
    <span class="quantity-min">${ this.min }</span>
    <span class="quantity-max">${ this.max }</span>
  </div>
</div>` }